/* Reset CSS */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap');
@import 'reset.css';
/* @import 'animation_magic.css'; */

/* Fonts imports */
@font-face {
    font-family: 'tan-nimbus';
    src: url('/media/fonts/TAN-NIMBUS.otf') format('opentype'),
         url('/media/fonts/TAN-NIMBUS.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'candy';
    src: url('/media/fonts/CANDY.ttf') format('truetype');
}


/* Base Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Typography */
  body {
    font-family: 'Open Sans';
    line-height: 1.6;
    font-size: 16px;
  }
  
  /* Container */
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 15px;
  }
  
  /* Global Styles */
  header, nav, section, footer {
    /* background-color: antiquewhite; */
    padding: 20px;
    text-align: center;
  }

  section.block {
    text-align: left;
  }

  div {
    line-height: normal;
  }

  h1.h1test {
    font-family: 'tan-nimbus';
    text-transform: uppercase;
    color: rgb(206, 98, 94);
  }

  h1 {
    font-family: 'Antonio';
    text-transform: uppercase;
    margin-bottom: 5px;
  }

  h2 {
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 5px;
    letter-spacing: -0.5px;
  }

  p.slogan {
    text-transform: uppercase;
    font-weight: 300;
    font-style: condensed;
    letter-spacing: -0.5px;
  }

  div.divider {
    margin: 0 20px;
    background-color: #333;
  }

  a.address {
    font-style: oblique;
    color: black;
  }

  
  img {
    max-width: 100%;
    height: auto;
  }
  
  /* Breakpoints */
  /* Extra Small Devices (phones, < 576px) */
  @media (max-width: 575.98px) {
    body {
      font-size: 14px;
    }

    h1.h1test {
        font-size: 3rem;
    }
        
    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 15px;
    }

    div.divider {
        height: 1px;
    }
    
    .container {
      padding: 0 10px;
    }
  }
  
  /* Small Devices (landscape phones, 576px and up) */
  @media (min-width: 576px) and (max-width: 767.98px) {
    body {
      font-size: 15px;
    }
  }
  
  /* Medium Devices (tablets, 768px and up) */
  @media (min-width: 768px) and (max-width: 991.98px) {
    body {
      font-size: 16px;
    }
    nav {
      display: flex;
      justify-content: space-around;
    }
  }
  
  /* Large Devices (desktops, 992px and up) */
  @media (min-width: 992px) and (max-width: 1199.98px) {
    body {
      font-size: 17px;
    }
    .container {
      padding: 0 20px;
    }
  }
  
  /* Extra Large Devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {
    body {
      font-size: 18px;
    }
  }
  